# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
client/node_modules/
socket/node_modules/

# Local environment files
client/.env
socket/.env

# Expo (if applicable)
client/.expo/
client/dist/
client/web-build/
client/expo-env.d.ts

socket/.expo/
socket/dist/
socket/web-build/
socket/expo-env.d.ts

# Native (if applicable)
client/*.orig.*
client/*.jks
client/*.p8
client/*.p12
client/*.key
client/*.mobileprovision

socket/*.orig.*
socket/*.jks
socket/*.p8
socket/*.p12
socket/*.key
socket/*.mobileprovision

# Metro (if applicable)
client/.metro-health-check*
socket/.metro-health-check*

# Debug
client/npm-debug.*
client/yarn-debug.*
client/yarn-error.*

socket/npm-debug.*
socket/yarn-debug.*
socket/yarn-error.*

# macOS
client/.DS_Store
client/*.pem

socket/.DS_Store
socket/*.pem

# TypeScript (if applicable)
client/*.tsbuildinfo
socket/*.tsbuildinfo
node_modules
